# Server Configuration
PORT=3001
NODE_ENV=development

# Gemini API Configuration
GEMINI_API_URL=<url>
GEMINI_API_KEY=<token>

# Rate Limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=20
RATE_LIMIT_HOURLY_MAX=300

# File Upload Configuration
MAX_FILE_SIZE=10485760
ALLOWED_FILE_TYPES=application/pdf
